<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- build:css({app,.tmp}) /css/main.css -->
        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  nclud<br />
                  <a href="mailto:hello@nclud.com">hello@nclud.com</a>
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/nclud/">github.com/nclud</a><br />
                  <a href="http://twitter.com/nclud/">twitter.com/nclud</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
