---
layout: default
---

<header id="post-header" class="padded-horizontal-large single-post skroll-nav-toggle">
   {% if page.featured-image %}
   <img src="/img/{{page.featured-image}}">
   {% endif %}

    <h1>{{ page.title }}</h1>
    <span class="date-time">{{ page.date | date: "%d %B %Y" }}</span>
</header>

<article id="post-content" class="padded-horizontal-large padded-vertical">

    {{ content }}

    <section id="post-footer">
        <img src="/img/nclud-logo.png" class="post-author-photo">

        <a href="https://twitter.com/nclud" target="_blank" class="post-author">nclud</a>
        <span class="post-author-bio">A creative design agency focused on unique, stylish and usable experiences across a multitude of verticals, mediums and devices. We work with early stage start-ups, to the Fortune 100, and everyone in between.</span>
    </section>
</article>
