---
layout: default
---

<header id="post-header" class="padded-horizontal-large single-post skroll-nav-toggle">
   {% if page.featured-image %}
   <img src="/img/{{page.featured-image}}">
   {% endif %}

    <h1>{{ page.title }}</h1>
    <span class="date-time">{{ page.date | date: "%d %B %Y" }}</span>
</header>

<article id="post-content" class="padded-horizontal-large padded-vertical">

    {{ content }}

    <section id="post-footer">
    {% if site.authors contains page.author %}
      {% assign author = site.authors[page.author] %}
    {% else %}
      {% assign author = site.authors.default %}
    {% endif %}
    <img src="{{author.image}}" class="post-author-photo">

    <a href="https://twitter.com/{{author.twitter}}" target="_blank" class="post-author">{{author.name}}</a>
    <span class="post-author-bio">{{author.bio}}</span>
    </section>
</article>
