/* CLEAR & FLOATS */
.clear { clear: both !important; }
.left { float: left !important; }
.right { float: right !important; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.no-mobile {
  @include breakpoint(mobile) {
    display: none;
  }
}

// ie10 fix
a,
input,
button {
    -ms-touch-action: none !important;
}
