/* GLYPHS */

/* AVENIR FONTS */
@import url("//hello.myfonts.net/count/27bfda");

@font-face {
    font-family: 'Avenir-Black';
    src:  url('/fonts/27BFDA_0_0.eot');
    src:  url('/fonts/27BFDA_0_0.eot?#iefix') format('embedded-opentype'),
          url('/fonts/27BFDA_0_0.woff') format('woff'),
          url('/fonts/27BFDA_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Light';
    src:  url('/fonts/27BFDA_1_0.eot');
    src:  url('/fonts/27BFDA_1_0.eot?#iefix') format('embedded-opentype'),
          url('/fonts/27BFDA_1_0.woff') format('woff'),
          url('/fonts/27BFDA_1_0.ttf') format('truetype');
}