@import url("//hello.myfonts.net/count/27bfda");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* MIX-INS */
/* ADDITIONAL RESET */
html {
  min-height: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  background: #071217; }

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* CLEAR & FLOATS */
.left {
  float: left !important; }

.right {
  float: right !important; }

.clear {
  clear: both !important;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }

* html .clearfix {
  height: 1%; }

@media only screen and (max-width: 641px) {
  .nomobile {
    display: none; } }

/* INCLUDED */
/* GRID */
section,
div,
nav,
article,
header,
footer,
main {
  display: block;
  position: relative; }

section,
nav,
article,
header,
main {
  background: #fbfbfb; }

section {
  z-index: 2; }
  section:after {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    content: ""; }

.padded-vertical {
  padding-top: 4.65rem;
  padding-bottom: 5.5rem; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    .padded-vertical {
      padding-top: 4rem;
      padding-bottom: 5rem; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    .padded-vertical {
      padding-top: 4rem;
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 641px) {
    .padded-vertical {
      padding-top: 4rem;
      padding-bottom: 4.25rem; } }

.padded-vertical-top {
  padding-top: 6.5rem;
  padding-bottom: 5rem; }

.padded-horizontal {
  padding-left: 5rem;
  padding-right: 5rem; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    .padded-horizontal {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    .padded-horizontal {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (max-width: 641px) {
    .padded-horizontal {
      padding-left: 8%;
      padding-right: 8%; } }

.padded-horizontal-medium {
  padding-left: 15%;
  padding-right: 15%; }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    .padded-horizontal-medium {
      padding-left: 9%;
      padding-right: 9%; } }
  @media only screen and (max-width: 641px) {
    .padded-horizontal-medium {
      padding-left: 8%;
      padding-right: 8%; } }

.padded-horizontal-large {
  padding-left: 23%;
  padding-right: 23%; }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    .padded-horizontal-large {
      padding-left: 15%;
      padding-right: 15%; } }
  @media only screen and (max-width: 641px) {
    .padded-horizontal-large {
      padding-left: 8%;
      padding-right: 8%; } }

.centered {
  padding-left: 25%;
  padding-right: 25%; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    .centered {
      padding-left: 20%;
      padding-right: 20%; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    .centered {
      padding-left: 15%;
      padding-right: 15%; } }
  @media only screen and (max-width: 641px) {
    .centered {
      padding-left: 8%;
      padding-right: 8%; } }

/* GLYPHS */
/* AVENIR FONTS */
@font-face {
  font-family: 'Avenir-Black';
  src: url("fonts/27BFDA_0_0.eot");
  src: url("fonts/27BFDA_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/27BFDA_0_0.woff") format("woff"), url("fonts/27BFDA_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir-Light';
  src: url("fonts/27BFDA_1_0.eot");
  src: url("fonts/27BFDA_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/27BFDA_1_0.woff") format("woff"), url("fonts/27BFDA_1_0.ttf") format("truetype"); }

/* TEXT SETTINGS */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

h1,
h2,
h3,
p.subtitle {
  font-family: 'Avenir-Black', sans-serif; }

h1 {
  color: #0f2733;
  font-size: 2.25rem;
  line-height: 1.1; }

h2 {
  margin-bottom: 0.5em;
  font-size: 2.25rem;
  color: #1a1a1a; }
  .centered h2 {
    text-align: center; }
  .article-listing-single h2 {
    margin-bottom: 0;
    font-size: 1.875rem;
    line-height: 1.2; }
    .article-listing-single h2 a {
      text-decoration: none;
      color: #0f2733;
      opacity: 0.875;
      -webkit-transition: 0.125s;
      -moz-transition: 0.125s;
      -o-transition: 0.125s;
      transition: 0.125s; }
      .article-listing-single h2 a:hover {
        opacity: 1; }
  #post-content h2 {
    font-size: 1.4rem;
    margin-bottom: 0.15rem; }

h3 {
  margin-bottom: 0.15rem;
  font-size: 1.25rem;
  color: #1a1a1a; }
  #post-content h3 {
    font-size: 1.4rem; }

p {
  font-family: Georgia, serif;
  color: #1a1a1a;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.2em; }
  .article-listing-single p {
    padding-right: 5px; }
  p.subtitle {
    font-size: 1.15rem;
    opacity: 0.7;
    line-height: 1.25;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-align: center;
    z-index: 5; }
    p.subtitle a:hover {
      text-decoration: none; }
    @media only screen and (min-width: 1401px) and (min-height: 850px) {
      p.subtitle {
        line-height: 1.4; } }
    @media only screen and (max-width: 641px) {
      p.subtitle {
        font-size: 0.9rem; } }
  p.subtext {
    font-size: 0.9rem; }
  section:not(#post-content) p:last-of-type {
    margin-bottom: 0; }
  p a {
    color: #7ea2b2;
    text-decoration: none; }
    p a:hover {
      text-decoration: underline; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    p {
      font-size: 1.05rem; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    p {
      font-size: 1.15rem; } }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

#post-content ul, #post-content
ol {
  padding-left: 1.25em;
  margin-bottom: 1.2em; }
  #post-content ul li, #post-content
  ol li {
    padding-left: 1em;
    font-family: Georgia, serif;
    color: #1a1a1a;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.15em; }
    #post-content ul li:last-child, #post-content
    ol li:last-child {
      margin-bottom: 0; }
    #post-content ul li a, #post-content
    ol li a {
      color: #7ea2b2;
      text-decoration: none; }
      #post-content ul li a:hover, #post-content
      ol li a:hover {
        text-decoration: underline; }

#post-content ul li {
  list-style-type: disc; }
  #post-content ul li ul {
    margin-bottom: 0.5em; }
    #post-content ul li ul li {
      list-style-type: circle; }

#post-content ol li {
  list-style-type: decimal; }
  #post-content ol li ul {
    margin-bottom: 0.5em; }
    #post-content ol li ul li {
      list-style-type: upper-alpha; }

blockquote {
  margin-bottom: 0.6em;
  width: 110%;
  margin-left: -10%; }
  blockquote p {
    color: #83b557;
    font-family: 'Avenir-Light', sans-serif;
    font-size: 2rem;
    line-height: 1.3; }
    blockquote p .source {
      display: block;
      font-family: 'Avenir-Black', sans-serif;
      font-size: 0.9rem;
      color: #76a84a;
      text-align: right;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-top: 8px; }
    blockquote p em {
      font-style: italic; }
    blockquote p a {
      color: #76a84a;
      text-decoration: underline; }
      blockquote p a:hover {
        color: #73a348; }
  @media only screen and (max-width: 641px) {
    blockquote {
      width: 100%;
      margin-left: 0; } }

code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: pre\9;
  line-height: 1.4;
  font-family: monospace;
  color: #333333;
  font-weight: bold;
  display: block;
  background: whitesmoke;
  margin-top: -0.5em;
  padding: 0.75rem;
  padding-top: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1.2em;
  font-size: 1rem; }
  p code {
    margin-bottom: 0;
    display: inline-block;
    padding: 5px 3px 5px 6px;
    margin-top: -3px;
    line-height: 1; }

hr {
  display: block;
  width: 50%;
  border: 0;
  height: 2px;
  background: #333333;
  margin-top: 2em;
  margin-bottom: 2em; }

.newer-posts,
.older-posts {
  font-family: 'Avenir-Black', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  display: block;
  border-top: 3px solid #0f2733;
  color: #0f2733;
  padding: 1.25em 0 0; }
  .newer-posts span,
  .older-posts span {
    letter-spacing: 0; }

.newer-posts {
  float: left; }

.older-posts {
  float: right; }

.date-time {
  font-family: 'Avenir-Black';
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #0f2733;
  opacity: 0.65;
  padding-top: 0.5rem;
  display: inline-block; }
  .article-listing-single .date-time {
    padding-bottom: 0.5rem; }

.post-author {
  font-family: 'Avenir-Black', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .post-author:hover {
    text-decoration: underline; }

.post-author-bio {
  padding-top: 5px;
  display: block;
  font-family: Georgia, serif;
  color: white;
  font-size: 0.875rem;
  line-height: 1.4;
  opacity: 0.95;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bottom-menu a {
  font-family: 'Avenir-Black';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  margin-right: 2.5rem; }
  @media only screen and (max-width: 641px) {
    .bottom-menu a {
      float: left;
      display: block;
      width: 33.33%;
      margin-right: 0;
      text-align: center; } }

.bottom-home {
  width: 100%;
  height: 16px;
  clear: both;
  text-align: right;
  display: block;
  text-decoration: none; }
  @media only screen and (max-width: 641px) {
    .bottom-home {
      height: auto; } }
  .bottom-home span {
    font-family: 'Avenir-Black';
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    white-space: nowrap; }
    @media only screen and (max-width: 641px) {
      .bottom-home span {
        line-height: 1.3; } }
  .bottom-home img {
    height: 16px;
    width: auto;
    display: block;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 0px; }
    @media only screen and (max-width: 641px) {
      .bottom-home img {
        float: none;
        display: inline-block;
        margin-right: 13px;
        margin-top: 0px; } }
  .bottom-home:first-child {
    margin-top: 0; }

/* IMAGES */
/* NAV BAR */
nav {
  width: 100%;
  z-index: 99;
  height: 4rem; }
  nav .nav-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(15, 39, 51, 0.35); }
    nav .nav-wrapper img {
      height: 60%;
      width: auto;
      display: inline-block; }
    nav .nav-wrapper a {
      opacity: 0.75;
      -webkit-transition: 0.15s;
      -moz-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s; }
      nav .nav-wrapper a:hover {
        opacity: 1; }

/* HEADER */
header.single-post {
  padding-top: 2rem;
  padding-bottom: 1.5rem; }
  header.single-post img,
  header.single-post .video-wrap {
    width: 120%;
    margin-left: -10%;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 641px) {
      header.single-post img,
      header.single-post .video-wrap {
        width: 100%;
        margin-left: 0; } }

/* MAIN AREAS */
.article-listing-single {
  padding-bottom: 2.5rem;
  margin-bottom: 2.75rem;
  border-bottom: 1px solid rgba(15, 39, 51, 0.15); }
  .article-listing-single:last-child, .article-listing-single:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }

#pagination {
  width: 100%;
  padding-top: 3.5rem; }

#post-content {
  padding-bottom: 5.5rem; }
  #post-content img,
  #post-content .fluid-width-video-wrapper,
  #post-content iframe {
    margin-bottom: 1.2em; }
  @media only screen and (min-width: 1401px) and (min-height: 850px) {
    #post-content {
      padding-bottom: 10rem; } }

.instagram {
  margin-bottom: 1em;
  text-align: center; }
  .instagram iframe {
    display: inline-block; }

#post-footer {
  background: #0f2733;
  border-radius: 2px;
  margin: 3rem 0;
  padding: 1.5rem; }
  #post-footer .post-author-photo {
    float: right;
    display: block;
    width: 14%;
    margin-left: 5%;
    margin-bottom: 0;
    border-radius: 2px; }
    @media only screen and (max-width: 641px) {
      #post-footer .post-author-photo {
        width: 20%;
        margin-bottom: 3rem; } }

/* FOOTER */
footer {
  background: #071217;
  border-top: 1px solid black;
  z-index: 5;
  padding-top: 1.5rem;
  padding-bottom: 2.75rem; }
  footer a {
    opacity: 0.75;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    footer a:hover {
      opacity: 1; }
  footer .bottom-home {
    width: 100%;
    text-align: left; }
    footer .bottom-home:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
  footer .bottom-menu {
    display: block;
    float: left; }
    @media only screen and (max-width: 641px) {
      footer .bottom-menu {
        float: none;
        width: 100%;
        padding-bottom: 2rem; } }
  footer .bottom-large-link {
    display: block;
    float: right; }
    @media only screen and (max-width: 641px) {
      footer .bottom-large-link {
        float: none;
        width: 100%;
        text-align: center; } }
