        </div>{% comment %}end #skrollr body{% endcomment %}

        <footer class="padded-horizontal-medium">

            {% if page.type == "case_study" %}
            <div class="clearfix">
                {% if page.social_desc %}
                <div id="share" data-url="{{site.url}}{{ page.url | replace: 'index.html', '' }}" data-text="{{ page.title }} - {{ page.social_desc }}"></div>
                {% endif %}
                <a id="scroll-to-top" href="#beercamp-header">Back to top <span>&#9650;</span></a>
            </div>
            {% endif %}

            <div class="bottom-home">
                <a href="http://nclud.com" target="_blank"><img src="/img/nclud-logo-small.svg"><span>An nclud creation, proudly made in Washington, DC</span></a>
            </div>
        </footer>

        <!-- build:js(app) /js/lib.js -->
        <script src="/js/lib/imagesloaded.min.js"></script>
        <script src="/js/pages/beercamp/reel.js"></script>
        <!-- endbuild-->

        <!-- build:js(app) /js/footer.js -->
        <script src="/js/index.js"></script>
        <script src="/js/pages/beercamp.js"></script>
        <!-- endbuild -->

    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/css3-mediaqueries.js"></script>
    <![endif]-->
    </body>
</html>
