        </div>{% comment %}end #skrollr body{% endcomment %}

        <footer class="padded-horizontal">
            <div class="bottom-home">
                <a href="http://www.nclud.com" target="_blank"><img src="/img/nclud-logo-small.svg"><span>An nclud creation, proudly made in Washington, DC</span></a>
            </div>
        </footer>

        <!-- build:js(app) /js/footer.js -->
        <script src="/js/index.js"></script>
        <script src="/js/pages/beercamp/reel.js"></script>
        <script src="/js/pages/beercamp.js"></script>
        <!-- endbuild -->

        <!--[if lt IE 9]>
            <script type="text/javascript" src="/js/css3-mediaqueries.js"></script>
        <![endif]-->
    </body>
</html>
