<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &nbsp;&times;&nbsp; {% endif %}nclud Sketchbook</title>

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/img/apple-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/img/apple-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/img/apple-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/img/apple-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/img/apple-72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/img/android-152.png">

    <link rel="icon" href="{{ site.url }}/img/fav16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ site.url }}/img/fav32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ site.url }}/img/fav48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="{{ site.url }}/img/fav64.png" sizes="64x64" type="image/png">
    <link rel="icon" href="{{ site.url }}/img/fav128.png" sizes="128x128" type="image/png">
    <link rel="icon" href="{{ site.url }}/img/fav195.png" sizes="195x195" type="image/png">

    <link rel="icon" href="{{ site.url }}/img/fav32.png">
    <!--[if IE]><link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico"><![endif]-->

    <meta name="msapplication-TileColor" content="#0F2733">
    <meta name="msapplication-TileImage" content="{{ site.url }}/img/fav144.png">

    {% include social.html %}

    <link rel="stylesheet" href="/css/screen.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/ie/modernizr.js"></script>
        <script type="text/javascript" src="/js/ie/selectivizr.js"></script>
        <script type="text/javascript" src="/js/ie/skrollr.ie.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1267683-4', 'nclud.com');
      ga('send', 'pageview');
    </script>
    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
    (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/414458.js';
    e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code -->
</head>
<body{% if page.title %} class="{{ page.title | downcase }}"{% endif %}>
