<nav id="scroll-nav"{% if page.url == "/index.html" %} class="front-page"{% endif %} data-anchor-target=".skroll-nav-toggle" data-51-top-bottom="" data-50-top-bottom="">
    <div class="logo-nav">
        <div class="logo-wrapper">
            <a href="/"><img src="/img/nclud-logo.svg"></a>
        </div>
        {% if page.url != "/index.html" %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        <a href="#" class="menu-btn right"></a>
    </div>

    <div class="bkg-nav">
        <div id="menu-pages">
            <div class="half">
                <span class="menu-header">Stories</span>
                {% for page in site.pages %}
                {% if page.url != "/index.html" %}
                    {% if page.title != "Sketchbook" %}
                <a class="menu-link" href="{{ page.url | replace: 'index.html', '' }}">{{page.title}}</a>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>

            <div class="half">
                <span class="menu-header">Social</span>
                <a class="menu-link" href="https://twitter.com/nclud" target="_blank">Twitter</a>
                <a class="menu-link" href="https://www.facebook.com/nclud" target="_blank">Facebook</a>
            </div>
        </div>
    </div>
</nav>

<div id="skrollr-body">

    {% if page.path contains '_posts' %}
    <nav id="top-nav" class="padded-horizontal-large dark">
        <div class="nav-wrapper">
            <a href="/"><img src="/img/nclud-logo-dark.svg"></a>
            <a href="#" class="menu-btn right"></a>
        </div>
    </nav>
    {% else %}

    <nav id="top-nav" class="padded-horizontal-large">
        <div class="nav-wrapper">
            <a href="/"><img src="/img/nclud-logo.svg"></a>
            <a href="#" class="menu-btn right"></a>
        </div>
    </nav>
    {% endif %}


