{% if page.social_desc %}
<meta name="twitter:card" content="{{ page.title }} - {{ page.social_desc }}">
{% endif %}
<meta name="twitter:site" content="@nclud">
<meta name="twitter:creator" content="@sketchbook">
<meta name="twitter:title" content="nclud Sketchbook">
<meta name="twitter:description" content="Stories, thoughts, and behind the scenes from nclud's studio.">
{% if page.social_img %}
<meta name="twitter:image:src" content="{{ page.social_img }}">
{% endif %}

<meta property="og:title" content="nclud Sketchbook"/>
<meta property="og:url" content="{{site.url}}{{ page.url | replace: 'index.html', '' }}"/>
<meta property="og:description" content="Stories, thoughts, and behind the scenes from nclud's studio."/>
<meta property="og:site_name" content="nclud Sketchbook"/>
<meta property="og:type" content="blog"/>
<meta property="og:image" content="social.png"/>
<meta property="og:language" content="en" />
