{% if page.social_desc %}
<meta name="twitter:card" content="{{ page.title }} - {{ page.social_desc }}">
{% endif %}
<meta name="twitter:site" content="@nclud">
<meta name="twitter:creator" content="@sketchbook">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} &nbsp;&times;&nbsp; {% endif %}nclud Sketchbook">
<meta name="twitter:description" content="Stories, thoughts, and behind the scenes from nclud's studio.">
{% if page.social_img %}
<meta name="twitter:image:src" content="{{ site.url }}{{ page.social_img }}">
{% endif %}

<meta property="og:title" content="{% if page.title %}{{ page.title }} &nbsp;&times;&nbsp; {% endif %}nclud Sketchbook"/>
<meta property="og:url" content="{{site.url}}{{ page.url | replace: 'index.html', '' }}"/>
{% if page.social_desc %}
<meta property="og:description" content="{{ page.social_desc }}"/>
{% else %}
<meta property="og:description" content="Stories, thoughts, and behind the scenes from nclud's studio."/>
{% endif %}
<meta property="og:site_name" content="nclud Sketchbook"/>
<meta property="og:type" content="blog"/>
{% if page.social_img %}
<meta property="og:image" content="{{ site.url }}{{ page.social_img }}"/>
{% else %}
<meta property="og:image" content="{{ site.url }}/img/social.png"/>
{% endif %}
<meta property="og:language" content="en" />

<meta property="name" content="{% if page.title %}{{ page.title }} &nbsp;&times;&nbsp; {% endif %}nclud Sketchbook"/>
{% if page.social_desc %}
<meta itemprop="description" content="{{ page.social_desc }}" />
{% else %}
<meta itemprop="description" content="Stories, thoughts, and behind the scenes from nclud's studio." />
{% endif %}
{% if page.social_img %}
<meta itemprop="image" content="{{ site.url }}{{ page.social_img }}" />
{% else %}
<meta itemprop="image" content="{{ site.url }}/img/social.png" />
{% endif %}