.concept {
  .concept-laptop-air {
    .screen {
      background-color: black;
      background-image: url('/img/pages/beercamp/space-invaders-static.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
