/* BEERCAMP MARIO SECTION */

#mario {
  background: #5d89da;
  background-image: url('/img/pages/beercamp/mario/triangle.png');
  background-repeat: repeat-x;
  background-size: 8.4% auto;
  background-position: top left;
  padding-top: 5.5rem;
  padding-bottom: 12rem;
  z-index: 10;
  overflow-x: hidden;
  margin-top: -1px;
  h2,
  p {
    position: relative;
    z-index: 2;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
  h2 {
    text-align: center;
  }

  @include breakpoint(mobile) {
    background-size: 15% auto;
  }

  .level-clouds {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-image: url('/img/pages/beercamp/mario/cloud.png'), url('/img/pages/beercamp/mario/cloud-lrg.png');
    background-repeat: no-repeat;
    background-size: auto 80px, auto 80px;
    background-position: 2% 50%, 102.5% 14%;

    @include breakpoint(portrait) {
      background-position: -10% 54%, 118% 14%;
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .level {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140%;
    height: 690px;
    background-image:
      url('/img/pages/beercamp/mario/mario-block.png'),
      url('/img/pages/beercamp/mario/hill.png'),
      url('/img/pages/beercamp/mario/bush.png'),
      url('/img/pages/beercamp/mario/pipe.png'),
      url('/img/pages/beercamp/mario/bush-lrg.png');
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto 35px, auto 75px, auto 62px, auto 110px, auto 62px, auto 90px, auto 90px, auto 90px;
    background-position: left bottom, 175px 96%, 850px 96%, 1175px 96%, 1500px 96%, 90px 45%, 1100px 14%, 1575px 60%;


    @include breakpoint(landscape) {
      width: 200%;
    }
    @include breakpoint(portrait) {
      width: 400%;
    }
    @include breakpoint(mobile) {
      width: 300%;
    }
  }
  .plumber {
    @include transform(translate3d(0,0,0));
    //@include backface-visibility(hidden);
    //@include perspective(1000);

    position: absolute;
    left: 25px;
    bottom: 35px;
    width: 64px;
    height: 60px;
    background-image: url('/img/pages/beercamp/mario/mario.png');
    background-repeat: no-repeat;
    background-position: 0% center;
    //background-position: 50% center;
    background-size: 500% 100%;
  }

  &.active,
  &.skrollable-after {
    .level {
      @include animation(level-pan 16s linear 1);
      @include animation-fill-mode(forwards);

      @include breakpoint(portrait) {
        @include animation(level-pan 7s linear 1);
        @include animation-fill-mode(forwards);
      }
      @include breakpoint(mobile) {
        @include animation(level-pan 4s linear 1);
        @include animation-fill-mode(forwards);
      }
    }
    .plumber {
      @include animation(mario-runs 0.3s steps(2) infinite, mario-moves 14s linear 1, mario-jumps 0.54s steps(1) 1);
      @include animation-delay(0, 0, 7.05s);
      @include animation-fill-mode(forwards, none, none);

      @include breakpoint(landscape) {
        @include animation-delay(0, 0, 7.15s);
      }
      @include breakpoint(portrait) {
        @include animation-delay(0, 0, 7.15s);
      }
    }
  }
}

@include keyframes(level-pan) {
  100% {
       @include transform(translate3d(-500px, 0, 0));
  }
}


@include keyframes(mario-runs) {
  from {
    background-position: 25% center;
  }
  to {
    background-position: 75% center;
  }
}

@include keyframes(mario-jumps) {
  from {
    background-position: 100% center;
  }
  to {
    background-position: 100% center;
  }
}

@include keyframes(mario-moves) {
  50% {
    @include transform(translate3d(1060px, 0, 0));
  }
  53% {
    @include transform(translate3d(1091px, -98px, 0));
  }
  59% {
    @include transform(translate3d(1260px, -98px, 0));
  }
  62% {
    @include transform(translate3d(1300px, 0px, 0));
  }
  90% {
    @include transform(translate3d(1900px, 0px, 0));
  }
  100% {
    @include transform(translate3d(2450px, 0px, 0));
  }
}
