/* BASE GRID */
section,
div,
nav,
article,
header,
footer,
main {
  display: block;
  position: relative;
}
article {
  background: darken(white,1.5%);
}
section {
  z-index: 2;
  background: darken(white,1.5%);

  &:after {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    content: "";
  }
}

.padded-vertical {
  padding-top: 4.65rem;
  padding-bottom: 5rem;

  @include breakpoint(landscape) {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }
  @include breakpoint(portrait) {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.padded-vertical-top {
  padding-top: 6.5rem;
  padding-bottom: 5rem;
}

.padded-horizontal {
  padding-left: 5rem;
  padding-right: 5rem;

  @include breakpoint(landscape) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include breakpoint(portrait) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include breakpoint(mobile) {
    padding-left: 8%;
    padding-right: 8%;
  }
}
.padded-horizontal-medium{
  padding-left: 15%;
  padding-right: 15%;

  @include breakpoint(portrait) {
    padding-left: 9%;
    padding-right: 9%;
  }
  @include breakpoint(mobile) {
    padding-left: 8%;
    padding-right: 8%;
  }
}
.padded-horizontal-large {
  padding-left: 23%;
  padding-right: 23%;

  @include breakpoint(portrait) {
    padding-left: 15%;
    padding-right: 15%;
  }
  @include breakpoint(mobile) {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.centered {
  padding-left: 25%;
  padding-right: 25%;

  @include breakpoint(landscape) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @include breakpoint(portrait) {
    padding-left: 15%;
    padding-right: 15%;
  }
  @include breakpoint(mobile) {
    padding-left: 8%;
    padding-right: 8%;
  }
}
