/* FONTS */

/* AVENIR FONTS */
@import url("//hello.myfonts.net/count/27bfda");

@font-face {
	font-family: 'Avenir-Black';
	src: 	font-url('27BFDA_0_0.eot');
	src: 	font-url('27BFDA_0_0.eot?#iefix') format('embedded-opentype'),
			font-url('27BFDA_0_0.woff') format('woff'),
			font-url('27BFDA_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Avenir-Light';
	src: 	font-url('27BFDA_1_0.eot');
	src: 	font-url('27BFDA_1_0.eot?#iefix') format('embedded-opentype'),
			font-url('27BFDA_1_0.woff') format('woff'),
			font-url('27BFDA_1_0.ttf') format('truetype');
}
