/* HEADER */
header {
	&.single-post {
		background: darken(white,1.5%);
		@include rem(padding-top,5.5rem);

		img,
		.fluid-width-video-wrapper {
			width: 120%;
			margin-left: -10%;
			@include rem(margin-bottom,1.75rem);

			@include breakpoint(mobile) {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	&.case-study {
		@include rem(height,40rem);
		height: 95vh;
		overflow: hidden;
		background: lighten(black,15%);

		.background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -1px;
			z-index: 1;
		}

		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: rgba(black,0.2);
			z-index: 20;
			content: "";
		}

		@include breakpoint(landscape) {
			@include rem(height,35rem);
			height: 86vh;
		}
		@include breakpoint(portrait) {
			height: 70vh;
		}
	}
}