/* OLD CODE */
#dev-layers {
	float: right;
	width: 43%;
	@include rem(margin-top,2rem);
	@include rem(margin-right,-2rem);
	@include perspective(650);
	//background: yellow;
	list-style-type: none;
	position: relative;

	li {
		position: relative;
		width: 94%;
		margin-left: 3%;
		//@include rotate3d(335,90,-92,60deg);
		margin-top: -56%;
		@include backface-visibility(hidden);
		@include transform(translate3d(0, 0, 0));
		@include transition(0.15s);
		@include transform-style(preserve-3d);

		&:first-child {
			margin-top: -18%;
			z-index: 1;
		}
		&:nth-child(1) {
			z-index: 4;
		}
		&:nth-child(2) {
			z-index: 3;
		}
		&:nth-child(3) {
			z-index: 2;
		}

		&.default {
			@include transform(rotateX(45deg));
		}

		&.default:hover {
			margin-top: -34%;
			//@include rotate3d(335,90,-92,50deg);
			@include transform(rotateX(35deg));

			img {
				@include opacity(1);
			}

			&:first-child {
				margin-top: -13%;
			}

			.plus {
				@include transform(rotateX(-35deg));
			}
		}
		&.sub-hover {
			//@include rotate3d(335,90,-92,50deg);
			@include transform(rotateX(35deg));

			&.active {
				@include transform(rotateX(0deg));
			}

			.plus {
				@include transform(rotateX(-35deg));
			}
		}
		&.background {
			@include opacity(0.5);

			&:first-child {
				margin-top: -18%;
			}

			&:hover {
				margin-top: -56%;
				@include transform(rotateX(45deg));

				&:first-child {
					margin-top: -18%;
				}

				img {
					@include opacity(0.75);
				}
			}

			&.sub-hover {
				@include transform(rotateX(45deg));
			}
		}

		&.active {
			@include opacity(1);
			z-index: 999;
			width: 110%;
			margin-left: -5%;
			@include transform(rotateX(0deg));

			&:hover {
				//@include transform(rotateX(0deg));
			}

			&:first-child {
				margin-top: 0;
			}

			img {
				@include opacity(1);
				cursor: pointer;
			}
			.plus {
				@include transform(rotateX(0deg));
			}
		}

		img {
			@include opacity(0.75);
			@include transition(0.15s);
		}

		.plus {
			position: absolute;
			display: block;
			z-index: 50;
			top: 100%;
			left: 50%;
			@include rem(width,2.5rem);
			@include rem(height,2.5rem);
			background: rgba(black,0.45);
			@include border-radius(50%);
			@include rem(margin-left,-1.25rem);
			@include rem(margin-top,-1.25rem);
			border: 4px solid rgba(black,0.5);
			@include transform-origin(50%,50%);
			@include transform(rotateX(-45deg));
			@include transition(0.15s);

			&:before {
				display: block;
				position: absolute;
				height: 16px;
				width: 4px;
				top: 50%;
				left: 50%;
				margin-top: -8px;
				margin-left: -2px;
				background: white;
				content: "";
			}
			&:after {
				display: block;
				position: absolute;
				width: 16px;
				height: 4px;
				left: 50%;
				top: 50%;
				margin-top: -2px;
				margin-left: -8px;
				background: white;
				content: "";
			}

			&:hover {
				background: rgba(black,0.75);
			}

			&.close {
				@include rotate(45deg);
			}
		}
	}
}