/* BEERCAMP FOOTER */
#rosetta_client {
    margin-top: 1.4rem;

    @include breakpoint(large) {
        margin-top: 1rem;
    }
    @include breakpoint(landscape) {
        margin-top: 2.3rem;
    }
}

.study-footer {
    #beercamp_footer-screen {
        background-color: $rosetta-darkgray;
        background-image: url('/img/pages/rosetta/rosetta-footer-screen.jpg');
        background-position: center top;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .rosetta_background {
    	background-color: $rosetta-yellow;
    	background-image: url('/img/pages/rosetta/rosetta-footer.jpg');
    	background-position: center bottom;
    	background-size: cover;
    	background-repeat: no-repeat;
    }
}
