#rosetta_concept {
    .concept-iphone {
        .screen {
            background-color: $rosetta-yellow;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
