#rosetta_concept {
    .concept-iphone {
        .screen {
            background-color: #d8e6f4;
            background-image: url('/img/pages/rosetta/rosetta-sketch.jpg');
            background-position: center top;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
}
