/* ROSETTA DESIGN */
#rosetta_design {
    background-color: #1a1a1a;
    background-image: url('/img/pages/rosetta/rosetta-designbkg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border: 0;
    overflow: hidden;

    &:before,
    &:after {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        width: 100%;
        display: block;
        background: rgba(black,0.2);
        content: "";
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

#rosetta_design_text {
    @include transition(0.15s);
    width: 53%;
    display: block;
    opacity: 1;

    h2,
    p {
        color: white;
        -webkit-font-smoothing: antialiased;
    }

    &.inactive {
        opacity: 0.1;
    }

    @include breakpoint(landscape) {
        width: 57%;
    }
    @include breakpoint(portrait) {
        width: 57%;
    }
}

#rosetta_design_tooltips {
    position: absolute;
    z-index: 10;
    top: 8.5rem;
    right: 37%;
    width: 30%;
    height: 70%;

    @include breakpoint(large) {
        top: 9rem;
    }
    @include breakpoint(landscape) {
        width: 35%;
        top: 10rem;
    }
    @include breakpoint(portrait) {
        width: 40%;
        top: 11rem;
        right: 38%;
    }

    .rosetta_tooltip_single {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background: $rosetta-blue;
        padding: 1rem;
        padding-right: 1.25rem;
        font-family: 'Avenir-Black';
        color: white;
        -webkit-font-smoothing: antialiased;
        font-size: 0.9rem;
        line-height: 1.4;
        pointer-events: none;
        opacity: 0;
        @include transition(0.15s);

        .rosetta_close-tooltip {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 1rem;
            height: 1rem;
            display: block;
            font-family: 'Avenir-Black';
            color: white;
            font-size: 1.2rem;
            -webkit-font-smoothing: antialiased;
            text-decoration: none;

            &:after {
                content: "\00D7";
            }
        }

        &:after {
            display: block;
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1rem;
            height: 1rem;
            margin-left: -0.5rem;
            margin-top: -0.5rem;
            @include transform-origin(center center);
            @include transform(rotate(45deg));
            background: $rosetta-blue;
            content: "";
        }

        &#rosetta_design_screen-navbar {
            top: 0;
        }
        &#rosetta_design_screen-hero {
            top: 20%;

            @include breakpoint(portrait) {
                top: 15%;
            }
        }
        &#rosetta_design_screen-promo {
            top: 47%;

            @include breakpoint(landscape) {
                top: 42%;
            }
            @include breakpoint(portrait) {
                top: 35%;
            }
        }
        &#rosetta_design_screen-process {
            top: 60%;

            @include breakpoint(portrait) {
                top: 44%;
            }
        }
        &#rosetta_design_screen-footer {
            top: 65%;

            @include breakpoint(landscape) {
                top: 55%;
            }
            @include breakpoint(portrait) {
                top: 50%;
            }
        }

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

#rosetta_design_phone {
    position: absolute;
    top: 1.85rem;
    right: 7%;
    width: 30%;
    z-index: 5;

    @include breakpoint(large) {
        top: 1rem;
    }
    @include breakpoint(landscape) {
        top: 5rem;
    }
    @include breakpoint(portrait) {
        right: -4%;
        width: 43%;
        top: 5rem;
    }
}
#rosetta_design_screen {
    border-radius: 1px;
    position: absolute;
    z-index: 5;
    background: black;
    top: 16.75%;
    left: 12.5%;
    right: 11.5%;
    bottom: 16.25%;
    overflow: hidden;

    .rosetta_design_screen_info {
        display: block;
        border: 0;
        position: relative;
        @include transition(0.15s);
        @include backface-visibility(hidden);

        img {
           @include transition(0.15s);
        }

        &:after {
            display: block;
            position: absolute;
            top: 10%;
            left: 5%;
            //@include transform(translate3d(-50%,-50%,0));
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            background: $rosetta-blue;
            opacity: 0.7;
            z-index: 5;
            text-align: center;
            color: white;
            -webkit-font-smoothing: antialiased;
            font-family: 'Avenir-Black';
            font-size: 2rem;
            line-height: 2.75rem;
            box-shadow: 0 0 12px black;
            @include transition(0.15s);
            content: "+";

            @include breakpoint(landscape) {
                width: 2rem;
                height: 2rem;
                line-height: 2.25rem;
                font-size: 1.75rem;
            }
            @include breakpoint(portrait) {
                width: 2.25rem;
                height: 2.25rem;
                line-height: 2.5rem;
                font-size: 1.85rem;
            }
        }

        &:hover {
            img {
                opacity: 0.5;
            }

            &:after {
                opacity: 1;
            }
        }

        &.active {
            img {
                opacity: 1;
            }
            &:after {
                opacity: 0;
            }
        }
        &.unfocus {
            img {
                opacity: 0.6;
            }

            &:hover {
                img {
                    opacity: 0.7;
                }
            }
        }
    }
}




.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 5px;
    opacity: 0.6;
    //@include backface-visibility(hidden);
    @include transition(0.2s linear);
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.85;
}
.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    opacity: 0.85;
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
    opacity: 0.85;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 4px;
    background-color: $rosetta-darkgray;
    //@include backface-visibility(hidden);
    @include transition(0.2s linear);
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: $rosetta-darkgray;
    opacity: 1;
}

.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}
