$rosetta-yellow: #fdd008;
$rosetta-blue: #18a5de;
$rosetta-darkgray: #4c4d4f;
$rosetta-lightgray: #e3e7e8;

/* ROSETTA IMPORTS */
@import '_rosetta-header.scss';
@import '_rosetta-concept.scss';
@import '_rosetta-design.scss';
@import '_rosetta-dev.scss';
@import '_rosetta-cart.scss';
@import '_rosetta-footer.scss';
