/* BEERCAMP IMPORTS IMPORTS */
/* BEERCAMP HEADER */
/* line 4, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
header .background {
  background: url('/img/pages/beercamp/city.jpg') no-repeat;
  background-size: auto 110%;
  background-position: center 100%;
  opacity: 0.6;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media only screen and (min-width: 1401px) and (min-height: 850px) {
    header .background {
      background: url('/img/pages/beercamp/city-large.jpg') no-repeat;
      background-size: auto 110%;
      background-position: center 0%; } }
  @media only screen and (max-width: 641px) {
    header .background {
      background: url('/img/pages/beercamp/city-mobile.jpg') no-repeat;
      background-size: cover;
      background-position: center center; } }
/* line 26, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
header #main-logo {
  z-index: 5;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 8.75rem;
  margin-top:  8.75rem;
  margin-top: 17vh;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  transition: opacity 0.15s; }
  /* line 39, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
  header #main-logo.skrollable-before, header #main-logo.skrollable-between, header #main-logo.skrollable-after {
    opacity: 1; }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    header #main-logo {
      width: 120%;
      margin-left: -10%; } }
  @media only screen and (max-width: 641px) {
    header #main-logo {
      margin-top: 23vh;
      width: 180%;
      margin-left: -40%; } }
/* line 53, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
header .subtitle {
  z-index: 4;
  width: 35%;
  margin: 0 auto;
  opacity: 0.7;
  -webkit-transform: translate3d(0, 0, 0) translateY(-5.75rem);
  -moz-transform: translate3d(0, 0, 0) translateY(-5.75rem);
  -ms-transform: translate3d(0, 0, 0) translateY(-5.75rem);
  -o-transform: translate3d(0, 0, 0) translateY(-5.75rem);
  transform: translate3d(0, 0, 0) translateY(-5.75rem); }
  @media only screen and (min-width: 1300px) and (max-height: 850px) {
    header .subtitle {
      -webkit-transform: translateY(-7rem);
      -moz-transform: translateY(-7rem);
      -ms-transform: translateY(-7rem);
      -o-transform: translateY(-7rem);
      transform: translateY(-7rem); } }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    header .subtitle {
      -webkit-transform: translateY(-4.75rem);
      -moz-transform: translateY(-4.75rem);
      -ms-transform: translateY(-4.75rem);
      -o-transform: translateY(-4.75rem);
      transform: translateY(-4.75rem); } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    header .subtitle {
      width: 40%;
      -webkit-transform: translateY(-4.5rem);
      -moz-transform: translateY(-4.5rem);
      -ms-transform: translateY(-4.5rem);
      -o-transform: translateY(-4.5rem);
      transform: translateY(-4.5rem); } }
  @media only screen and (max-width: 641px) {
    header .subtitle {
      width: 70%;
      -webkit-transform: translateY(-2.75rem);
      -moz-transform: translateY(-2.75rem);
      -ms-transform: translateY(-2.75rem);
      -o-transform: translateY(-2.75rem);
      transform: translateY(-2.75rem); } }
/* line 82, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
header .character-foreground {
  position: absolute;
  z-index: 12;
  bottom: -3.5%;
  left: -5%;
  width: 110%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    header .character-foreground {
      width: 116%;
      left: -8%; } }
  @media only screen and (max-width: 641px) {
    header .character-foreground {
      width: 124%;
      left: -12%;
      bottom: 0; } }
/* line 105, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
header .character-background {
  position: absolute;
  z-index: 11;
  left: -10%;
  bottom: 0%;
  width: 120%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    header .character-background {
      margin-bottom: 11%;
      width: 124%;
      left: -12%; } }
  @media only screen and (max-width: 641px) {
    header .character-background {
      width: 122%;
      left: -11%;
      bottom: 9vh; } }
/* line 129, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-header.scss */
header .header-explosions {
  position: absolute;
  z-index: 10;
  bottom: -5%;
  left: -9%;
  width: 118%; }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    header .header-explosions {
      bottom: 0;
      width: 124%;
      left: -12%; } }

/* line 3, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-concept.scss */
.concept .concept-laptop-air .screen {
  background-color: black;
  background-image: url('/img/pages/beercamp/space-invaders-static.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  /* line 10, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-concept.scss */
  .concept .concept-laptop-air .screen img {
    width: 100%;
    height: 100%; }

/* BEERCAMP DESIGN SECTION */
/* line 3, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
#design-container {
  background: #153647;
  min-height: 100vh;
  position: relative; }

/* line 9, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
#design {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
  padding-top:  5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  /* line 20, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design.skrollable-before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  /* line 26, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  .skrollr-desktop #design.skrollable-between {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  /* line 33, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design.skrollable-after {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    #design {
      padding-top: 4rem;
      padding-top:  4rem; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    #design {
      padding-top: 6rem;
      padding-top:  6rem; } }
  @media only screen and (max-width: 641px) {
    #design {
      height: auto;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      overflow: visible;
      padding-bottom: 65%; } }

/* line 58, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
#design-text {
  float: right;
  width: 73%;
  z-index: 5;
  opacity: 1; }
  /* line 65, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design-text h2, #design-text p {
    color: white;
    -webkit-font-smoothing: antialiased; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    #design-text h2 {
      margin-bottom: 0.25em; } }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    #design-text p {
      margin-bottom: 0.8em; } }
  /* line 80, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design-text p:last-of-type {
    padding-bottom: 3.5rem;
    padding-bottom:  3.5rem; }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    #design-text {
      width: 68%; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    #design-text {
      width: 70%; } }
  @media only screen and (max-width: 641px) {
    #design-text {
      float: none;
      width: 100%; } }

/* line 96, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
#design-laptop {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 12%;
  -webkit-transform: translate3d(-65%, 0, 0);
  -moz-transform: translate3d(-65%, 0, 0);
  -ms-transform: translate3d(-65%, 0, 0);
  -o-transform: translate3d(-65%, 0, 0);
  transform: translate3d(-65%, 0, 0); }
  /* line 106, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design-laptop .screen {
    position: absolute;
    z-index: 5;
    top: 6.4%;
    right: 13%;
    left: 13%;
    bottom: 3.1%;
    background-color: #1a1a1a;
    box-shadow: inset 0 0 5px black;
    overflow: hidden; }
    /* line 117, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
    #design-laptop .screen.illustrator {
      background-image: url('/img/illustrator.png');
      background-size: 100% 100%; }
    /* line 122, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
    #design-laptop .screen #scroll-animation-container {
      position: absolute;
      bottom: 1.7%;
      top: 11.9%;
      left: 2.6%;
      right: 3.6%;
      overflow: hidden; }
      /* line 130, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
      #design-laptop .screen #scroll-animation-container img {
        border-radius: 0;
        box-shadow: 0 0 0;
        width: 100%;
        height: 100%; }
      @media only screen and (min-width: 1401px) and (min-height: 850px) {
        #design-laptop .screen #scroll-animation-container {
          top: 12%; } }
      @media only screen and (min-width: 802px) and (max-width: 1100px) {
        #design-laptop .screen #scroll-animation-container {
          top: 12%;
          bottom: 1.8%;
          left: 2.9%;
          right: 3.7%; } }
      @media only screen and (min-width: 642px) and (max-width: 801px) {
        #design-laptop .screen #scroll-animation-container {
          right: 3.7%;
          left: 2.8%;
          top: 12%;
          bottom: 2%; } }
    @media only screen and (min-width: 802px) and (max-width: 1100px) {
      #design-laptop .screen {
        left: 8.5%;
        right: 8.5%; } }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #design-laptop .screen {
        top: 10%;
        left: 15.6%;
        right: 16%;
        bottom: 46.5%; } }
  /* line 166, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design-laptop .macbook-screen-only {
    display: block;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 3.5% 5.5%;
    border-top-right-radius: 3.5% 5.5%; }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #design-laptop .macbook-screen-only {
        display: none; } }
  /* line 175, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
  #design-laptop .macbook-full {
    display: none; }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #design-laptop .macbook-full {
        display: block; } }
  @media only screen and (min-width: 802px) and (max-width: 1100px) {
    #design-laptop {
      padding: 0 6%; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    #design-laptop {
      padding: 0 6%;
      bottom: 0%; } }

/* line 192, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
#design-laptop-mobile {
  display: none; }
  @media only screen and (max-width: 641px) {
    #design-laptop-mobile {
      display: block;
      position: absolute;
      bottom: 0;
      width: 96%;
      left: 2%;
      right: 2%;
      z-index: 10; }
      /* line 204, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
      #design-laptop-mobile .macbook-screen-only {
        display: block;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 3.5% 5.5%;
        border-top-right-radius: 3.5% 5.5%; }
      /* line 210, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
      #design-laptop-mobile .screen {
        display: block;
        position: absolute;
        z-index: 5;
        top: 6.4%;
        right: 3%;
        left: 3%;
        bottom: 3.1%;
        background-color: #1a1a1a;
        box-shadow: inset 0 0 5px black;
        overflow: hidden; }
        /* line 222, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-design.scss */
        #design-laptop-mobile .screen iframe {
          width: 100% !important;
          height: 100% !important;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0; } }

/* BEERCAMP DEVELOPMENT SECTION */
/* line 3, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
#develop {
  overflow: visible;
  z-index: 99; }
  /* line 9, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  #develop h2, #develop p {
    float: left;
    width: 52%; }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #develop h2, #develop p {
        float: none;
        width: 100%; } }
    @media only screen and (max-width: 641px) {
      #develop h2, #develop p {
        float: none;
        width: 100%; } }
  @media only screen and (max-width: 641px) {
    #develop {
      padding-top: 5rem;
      padding-top:  5rem; } }

/* line 28, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
#right-diagram {
  position: absolute;
  top: 0;
  padding-top: 3rem;
  padding-top:  3rem;
  padding-bottom: 7rem;
  padding-bottom:  7rem;
  right: 5rem;
  right:  5rem;
  width: 38%;
  width: -moz-calc(38% - 4rem);
  width: -webkit-calc(38% - 4rem);
  width: calc(#{$expression});
  overflow: visible;
  z-index: 99; }
  /* line 40, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  #right-diagram h2, #right-diagram p {
    width: 100%;
    float: none; }
  /* line 45, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  .skrollr-desktop #right-diagram.skrollable-between {
    position: fixed;
    z-index: 50;
    top: 0; }
  /* line 50, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  #right-diagram.skrollable-after {
    position: absolute;
    bottom: 0;
    right: 5rem;
    right:  5rem;
    top: auto; }
    @media only screen and (min-width: 1300px) and (max-height: 850px) {
      #right-diagram.skrollable-after {
        right: 8rem;
        right:  8rem; } }
  @media only screen and (min-width: 1300px) and (max-height: 850px) {
    #right-diagram {
      width: 28%;
      right: 8rem;
      right:  8rem; } }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    #right-diagram {
      position: relative;
      top: auto;
      right: auto;
      width: 76%;
      margin-left: 12%;
      margin-top: 3%;
      padding-bottom: 12%; } }
  @media only screen and (max-width: 641px) {
    #right-diagram {
      position: relative;
      top: auto;
      right: auto;
      width: 80%;
      margin-left: 10%;
      margin-top: 0;
      padding-bottom: 0; } }

/* line 85, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
#dev-layers {
  position: relative;
  width: 100%; }
  /* line 89, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  #dev-layers li {
    margin-top: -60%;
    position: relative;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    /* line 96, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li:first-child {
      margin-top: -12.5%;
      z-index: 4; }
      /* line 100, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
      #dev-layers li:first-child:hover {
        margin-top: -12.5%; }
      /* line 103, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
      #dev-layers li:first-child.active {
        margin-top: -12.5%; }
    /* line 107, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li:nth-child(2) {
      z-index: 3; }
    /* line 110, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li:nth-child(3) {
      z-index: 2; }
    /* line 113, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li:nth-child(4) {
      z-index: 1; }
      /* line 116, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
      #dev-layers li:nth-child(4) img {
        opacity: 0.8; }
    /* line 121, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li img {
      -webkit-transform: skewX(20deg);
      -moz-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
      -o-transform: skewX(20deg);
      transform: skewX(20deg);
      cursor: pointer;
      opacity: 0.75;
      -webkit-transition: 0.15s;
      -moz-transition: 0.15s;
      transition: 0.15s;
      background: rgba(0, 0, 0, 0.35); }
      /* line 128, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
      #dev-layers li img:hover {
        opacity: 0.9;
        background: rgba(0, 0, 0, 0.65); }
    /* line 134, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li:hover {
      margin-top: -40%; }
    /* line 142, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li.active {
      margin-top: -33%; }
      /* line 149, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
      #dev-layers li.active img {
        opacity: 1;
        background: rgba(0, 0, 0, 0.65); }
    /* line 156, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
    #dev-layers li.background img {
      opacity: 0.5; }

/* line 163, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
.layer-description {
  position: relative;
  z-index: 99;
  width: 100%;
  margin-top: -12%;
  background: #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 1rem;
  padding:  1rem; }
  /* line 175, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  .layer-description p {
    width: 100%;
    float: none; }
  /* line 180, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-dev.scss */
  .layer-description:after {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -9px;
    margin-left: -8px;
    background: #cccccc;
    border-right: 1px solid rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    content: ""; }
  @media only screen and (min-width: 642px) and (max-width: 801px) {
    .layer-description {
      position: absolute;
      top: 90%; } }
  @media only screen and (max-width: 641px) {
    .layer-description {
      width: 120%;
      margin-left: -10%; } }

/* BEERCAMP MARIO SECTION */
/* line 3, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
#mario {
  background: #5d89da;
  background-image: url('/img/pages/beercamp/mario/triangle.png');
  background-repeat: repeat-x;
  background-size: 8.4% auto;
  background-position: top left;
  padding-top: 5.5rem;
  padding-top:  5.5rem;
  padding-bottom: 12rem;
  padding-bottom:  12rem;
  z-index: 10;
  overflow-x: hidden;
  margin-top: -1px; }
  /* line 15, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario h2, #mario p {
    position: relative;
    z-index: 2;
    color: white;
    -webkit-font-smoothing: antialiased; }
  /* line 21, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario h2 {
    text-align: center; }
  @media only screen and (max-width: 641px) {
    #mario {
      background-size: 15% auto; } }
  /* line 29, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario .level-clouds {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-image: url('/img/pages/beercamp/mario/cloud.png'), url('/img/pages/beercamp/mario/cloud-lrg.png');
    background-repeat: no-repeat;
    background-size: auto 80px, auto 80px;
    background-position: 2% 50%, 102.5% 14%; }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #mario .level-clouds {
        background-position: -10% 54%, 118% 14%; } }
    @media only screen and (max-width: 641px) {
      #mario .level-clouds {
        display: none; } }
  /* line 48, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario .level {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140%;
    height: 690px;
    background-image: url('/img/pages/beercamp/mario/mario-block.png'), url('/img/pages/beercamp/mario/hill.png'), url('/img/pages/beercamp/mario/bush.png'), url('/img/pages/beercamp/mario/pipe.png'), url('/img/pages/beercamp/mario/bush-lrg.png');
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto 35px, auto 75px, auto 62px, auto 110px, auto 62px, auto 90px, auto 90px, auto 90px;
    background-position: left bottom, 175px 96%, 850px 96%, 1175px 96%, 1500px 96%, 90px 45%, 1100px 14%, 1575px 60%; }
    @media only screen and (min-width: 802px) and (max-width: 1100px) {
      #mario .level {
        width: 200%; } }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #mario .level {
        width: 400%; } }
    @media only screen and (max-width: 641px) {
      #mario .level {
        width: 300%; } }
  /* line 76, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario .plumber {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    left: 25px;
    bottom: 35px;
    width: 64px;
    height: 60px;
    background-image: url('/img/pages/beercamp/mario/mario.png');
    background-repeat: no-repeat;
    background-position: 0% center;
    background-size: 500% 100%; }
  /* line 95, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario.active .level, #mario.skrollable-after .level {
    -webkit-animation: level-pan 16s linear 1;
    -moz-animation: level-pan 16s linear 1;
    -ms-animation: level-pan 16s linear 1;
    -o-animation: level-pan 16s linear 1;
    animation: level-pan 16s linear 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #mario.active .level, #mario.skrollable-after .level {
        -webkit-animation: level-pan 7s linear 1;
        -moz-animation: level-pan 7s linear 1;
        -ms-animation: level-pan 7s linear 1;
        -o-animation: level-pan 7s linear 1;
        animation: level-pan 7s linear 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards; } }
    @media only screen and (max-width: 641px) {
      #mario.active .level, #mario.skrollable-after .level {
        -webkit-animation: level-pan 4s linear 1;
        -moz-animation: level-pan 4s linear 1;
        -ms-animation: level-pan 4s linear 1;
        -o-animation: level-pan 4s linear 1;
        animation: level-pan 4s linear 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards; } }
  /* line 108, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  #mario.active .plumber, #mario.skrollable-after .plumber {
    -webkit-animation: mario-runs 0.3s steps(2) infinite, mario-moves 14s linear 1, mario-jumps 0.54s steps(1) 1;
    -moz-animation: mario-runs 0.3s steps(2) infinite, mario-moves 14s linear 1, mario-jumps 0.54s steps(1) 1;
    -ms-animation: mario-runs 0.3s steps(2) infinite, mario-moves 14s linear 1, mario-jumps 0.54s steps(1) 1;
    -o-animation: mario-runs 0.3s steps(2) infinite, mario-moves 14s linear 1, mario-jumps 0.54s steps(1) 1;
    animation: mario-runs 0.3s steps(2) infinite, mario-moves 14s linear 1, mario-jumps 0.54s steps(1) 1;
    -webkit-animation-delay: 0, 0, 7.05s;
    -moz-animation-delay: 0, 0, 7.05s;
    -ms-animation-delay: 0, 0, 7.05s;
    -o-animation-delay: 0, 0, 7.05s;
    animation-delay: 0, 0, 7.05s;
    -webkit-animation-fill-mode: forwards, none, none;
    -moz-animation-fill-mode: forwards, none, none;
    -ms-animation-fill-mode: forwards, none, none;
    -o-animation-fill-mode: forwards, none, none;
    animation-fill-mode: forwards, none, none; }
    @media only screen and (min-width: 802px) and (max-width: 1100px) {
      #mario.active .plumber, #mario.skrollable-after .plumber {
        -webkit-animation-delay: 0, 0, 7.15s;
        -moz-animation-delay: 0, 0, 7.15s;
        -ms-animation-delay: 0, 0, 7.15s;
        -o-animation-delay: 0, 0, 7.15s;
        animation-delay: 0, 0, 7.15s; } }
    @media only screen and (min-width: 642px) and (max-width: 801px) {
      #mario.active .plumber, #mario.skrollable-after .plumber {
        -webkit-animation-delay: 0, 0, 7.15s;
        -moz-animation-delay: 0, 0, 7.15s;
        -ms-animation-delay: 0, 0, 7.15s;
        -o-animation-delay: 0, 0, 7.15s;
        animation-delay: 0, 0, 7.15s; } }

@-moz-keyframes level-pan {
  /* line 124, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0); } }

@-webkit-keyframes level-pan {
  /* line 124, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0); } }

@-o-keyframes level-pan {
  /* line 124, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0); } }

@-ms-keyframes level-pan {
  /* line 124, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0); } }

@keyframes level-pan {
  /* line 124, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0); } }

@-moz-keyframes mario-runs {
  /* line 131, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 25% center; }

  /* line 134, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 75% center; } }

@-webkit-keyframes mario-runs {
  /* line 131, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 25% center; }

  /* line 134, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 75% center; } }

@-o-keyframes mario-runs {
  /* line 131, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 25% center; }

  /* line 134, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 75% center; } }

@-ms-keyframes mario-runs {
  /* line 131, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 25% center; }

  /* line 134, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 75% center; } }

@keyframes mario-runs {
  /* line 131, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 25% center; }

  /* line 134, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 75% center; } }

@-moz-keyframes mario-jumps {
  /* line 140, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 100% center; }

  /* line 143, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 100% center; } }

@-webkit-keyframes mario-jumps {
  /* line 140, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 100% center; }

  /* line 143, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 100% center; } }

@-o-keyframes mario-jumps {
  /* line 140, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 100% center; }

  /* line 143, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 100% center; } }

@-ms-keyframes mario-jumps {
  /* line 140, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 100% center; }

  /* line 143, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 100% center; } }

@keyframes mario-jumps {
  /* line 140, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  from {
    background-position: 100% center; }

  /* line 143, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  to {
    background-position: 100% center; } }

@-moz-keyframes mario-moves {
  /* line 149, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  50% {
    -webkit-transform: translate3d(1060px, 0, 0);
    -moz-transform: translate3d(1060px, 0, 0);
    -ms-transform: translate3d(1060px, 0, 0);
    -o-transform: translate3d(1060px, 0, 0);
    transform: translate3d(1060px, 0, 0); }

  /* line 152, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  53% {
    -webkit-transform: translate3d(1091px, -98px, 0);
    -moz-transform: translate3d(1091px, -98px, 0);
    -ms-transform: translate3d(1091px, -98px, 0);
    -o-transform: translate3d(1091px, -98px, 0);
    transform: translate3d(1091px, -98px, 0); }

  /* line 155, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  59% {
    -webkit-transform: translate3d(1260px, -98px, 0);
    -moz-transform: translate3d(1260px, -98px, 0);
    -ms-transform: translate3d(1260px, -98px, 0);
    -o-transform: translate3d(1260px, -98px, 0);
    transform: translate3d(1260px, -98px, 0); }

  /* line 158, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  62% {
    -webkit-transform: translate3d(1300px, 0px, 0);
    -moz-transform: translate3d(1300px, 0px, 0);
    -ms-transform: translate3d(1300px, 0px, 0);
    -o-transform: translate3d(1300px, 0px, 0);
    transform: translate3d(1300px, 0px, 0); }

  /* line 161, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  90% {
    -webkit-transform: translate3d(1900px, 0px, 0);
    -moz-transform: translate3d(1900px, 0px, 0);
    -ms-transform: translate3d(1900px, 0px, 0);
    -o-transform: translate3d(1900px, 0px, 0);
    transform: translate3d(1900px, 0px, 0); }

  /* line 164, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(2450px, 0px, 0);
    -moz-transform: translate3d(2450px, 0px, 0);
    -ms-transform: translate3d(2450px, 0px, 0);
    -o-transform: translate3d(2450px, 0px, 0);
    transform: translate3d(2450px, 0px, 0); } }

@-webkit-keyframes mario-moves {
  /* line 149, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  50% {
    -webkit-transform: translate3d(1060px, 0, 0);
    -moz-transform: translate3d(1060px, 0, 0);
    -ms-transform: translate3d(1060px, 0, 0);
    -o-transform: translate3d(1060px, 0, 0);
    transform: translate3d(1060px, 0, 0); }

  /* line 152, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  53% {
    -webkit-transform: translate3d(1091px, -98px, 0);
    -moz-transform: translate3d(1091px, -98px, 0);
    -ms-transform: translate3d(1091px, -98px, 0);
    -o-transform: translate3d(1091px, -98px, 0);
    transform: translate3d(1091px, -98px, 0); }

  /* line 155, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  59% {
    -webkit-transform: translate3d(1260px, -98px, 0);
    -moz-transform: translate3d(1260px, -98px, 0);
    -ms-transform: translate3d(1260px, -98px, 0);
    -o-transform: translate3d(1260px, -98px, 0);
    transform: translate3d(1260px, -98px, 0); }

  /* line 158, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  62% {
    -webkit-transform: translate3d(1300px, 0px, 0);
    -moz-transform: translate3d(1300px, 0px, 0);
    -ms-transform: translate3d(1300px, 0px, 0);
    -o-transform: translate3d(1300px, 0px, 0);
    transform: translate3d(1300px, 0px, 0); }

  /* line 161, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  90% {
    -webkit-transform: translate3d(1900px, 0px, 0);
    -moz-transform: translate3d(1900px, 0px, 0);
    -ms-transform: translate3d(1900px, 0px, 0);
    -o-transform: translate3d(1900px, 0px, 0);
    transform: translate3d(1900px, 0px, 0); }

  /* line 164, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(2450px, 0px, 0);
    -moz-transform: translate3d(2450px, 0px, 0);
    -ms-transform: translate3d(2450px, 0px, 0);
    -o-transform: translate3d(2450px, 0px, 0);
    transform: translate3d(2450px, 0px, 0); } }

@-o-keyframes mario-moves {
  /* line 149, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  50% {
    -webkit-transform: translate3d(1060px, 0, 0);
    -moz-transform: translate3d(1060px, 0, 0);
    -ms-transform: translate3d(1060px, 0, 0);
    -o-transform: translate3d(1060px, 0, 0);
    transform: translate3d(1060px, 0, 0); }

  /* line 152, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  53% {
    -webkit-transform: translate3d(1091px, -98px, 0);
    -moz-transform: translate3d(1091px, -98px, 0);
    -ms-transform: translate3d(1091px, -98px, 0);
    -o-transform: translate3d(1091px, -98px, 0);
    transform: translate3d(1091px, -98px, 0); }

  /* line 155, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  59% {
    -webkit-transform: translate3d(1260px, -98px, 0);
    -moz-transform: translate3d(1260px, -98px, 0);
    -ms-transform: translate3d(1260px, -98px, 0);
    -o-transform: translate3d(1260px, -98px, 0);
    transform: translate3d(1260px, -98px, 0); }

  /* line 158, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  62% {
    -webkit-transform: translate3d(1300px, 0px, 0);
    -moz-transform: translate3d(1300px, 0px, 0);
    -ms-transform: translate3d(1300px, 0px, 0);
    -o-transform: translate3d(1300px, 0px, 0);
    transform: translate3d(1300px, 0px, 0); }

  /* line 161, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  90% {
    -webkit-transform: translate3d(1900px, 0px, 0);
    -moz-transform: translate3d(1900px, 0px, 0);
    -ms-transform: translate3d(1900px, 0px, 0);
    -o-transform: translate3d(1900px, 0px, 0);
    transform: translate3d(1900px, 0px, 0); }

  /* line 164, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(2450px, 0px, 0);
    -moz-transform: translate3d(2450px, 0px, 0);
    -ms-transform: translate3d(2450px, 0px, 0);
    -o-transform: translate3d(2450px, 0px, 0);
    transform: translate3d(2450px, 0px, 0); } }

@-ms-keyframes mario-moves {
  /* line 149, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  50% {
    -webkit-transform: translate3d(1060px, 0, 0);
    -moz-transform: translate3d(1060px, 0, 0);
    -ms-transform: translate3d(1060px, 0, 0);
    -o-transform: translate3d(1060px, 0, 0);
    transform: translate3d(1060px, 0, 0); }

  /* line 152, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  53% {
    -webkit-transform: translate3d(1091px, -98px, 0);
    -moz-transform: translate3d(1091px, -98px, 0);
    -ms-transform: translate3d(1091px, -98px, 0);
    -o-transform: translate3d(1091px, -98px, 0);
    transform: translate3d(1091px, -98px, 0); }

  /* line 155, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  59% {
    -webkit-transform: translate3d(1260px, -98px, 0);
    -moz-transform: translate3d(1260px, -98px, 0);
    -ms-transform: translate3d(1260px, -98px, 0);
    -o-transform: translate3d(1260px, -98px, 0);
    transform: translate3d(1260px, -98px, 0); }

  /* line 158, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  62% {
    -webkit-transform: translate3d(1300px, 0px, 0);
    -moz-transform: translate3d(1300px, 0px, 0);
    -ms-transform: translate3d(1300px, 0px, 0);
    -o-transform: translate3d(1300px, 0px, 0);
    transform: translate3d(1300px, 0px, 0); }

  /* line 161, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  90% {
    -webkit-transform: translate3d(1900px, 0px, 0);
    -moz-transform: translate3d(1900px, 0px, 0);
    -ms-transform: translate3d(1900px, 0px, 0);
    -o-transform: translate3d(1900px, 0px, 0);
    transform: translate3d(1900px, 0px, 0); }

  /* line 164, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(2450px, 0px, 0);
    -moz-transform: translate3d(2450px, 0px, 0);
    -ms-transform: translate3d(2450px, 0px, 0);
    -o-transform: translate3d(2450px, 0px, 0);
    transform: translate3d(2450px, 0px, 0); } }

@keyframes mario-moves {
  /* line 149, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  50% {
    -webkit-transform: translate3d(1060px, 0, 0);
    -moz-transform: translate3d(1060px, 0, 0);
    -ms-transform: translate3d(1060px, 0, 0);
    -o-transform: translate3d(1060px, 0, 0);
    transform: translate3d(1060px, 0, 0); }

  /* line 152, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  53% {
    -webkit-transform: translate3d(1091px, -98px, 0);
    -moz-transform: translate3d(1091px, -98px, 0);
    -ms-transform: translate3d(1091px, -98px, 0);
    -o-transform: translate3d(1091px, -98px, 0);
    transform: translate3d(1091px, -98px, 0); }

  /* line 155, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  59% {
    -webkit-transform: translate3d(1260px, -98px, 0);
    -moz-transform: translate3d(1260px, -98px, 0);
    -ms-transform: translate3d(1260px, -98px, 0);
    -o-transform: translate3d(1260px, -98px, 0);
    transform: translate3d(1260px, -98px, 0); }

  /* line 158, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  62% {
    -webkit-transform: translate3d(1300px, 0px, 0);
    -moz-transform: translate3d(1300px, 0px, 0);
    -ms-transform: translate3d(1300px, 0px, 0);
    -o-transform: translate3d(1300px, 0px, 0);
    transform: translate3d(1300px, 0px, 0); }

  /* line 161, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  90% {
    -webkit-transform: translate3d(1900px, 0px, 0);
    -moz-transform: translate3d(1900px, 0px, 0);
    -ms-transform: translate3d(1900px, 0px, 0);
    -o-transform: translate3d(1900px, 0px, 0);
    transform: translate3d(1900px, 0px, 0); }

  /* line 164, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-mario.scss */
  100% {
    -webkit-transform: translate3d(2450px, 0px, 0);
    -moz-transform: translate3d(2450px, 0px, 0);
    -ms-transform: translate3d(2450px, 0px, 0);
    -o-transform: translate3d(2450px, 0px, 0);
    transform: translate3d(2450px, 0px, 0); } }

/* BEERCAMP FOOTER */
/* line 4, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-footer.scss */
.study-footer #video-screen {
  background: url('/img/pages/beercamp/footer-screen.jpg') no-repeat;
  background-size: cover; }
  /* line 8, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-footer.scss */
  .study-footer #video-screen video {
    width: 100%;
    height: 100%; }
/* line 14, /Users/jshawl/Sites/sketchbook/app/_scss/pages/beercamp/_beercamp-footer.scss */
.study-footer .background {
  background: url('/img/pages/beercamp/city.jpg') no-repeat;
  background-size: cover;
  background-position: center center; }
  @media only screen and (min-width: 1401px) and (min-height: 850px) {
    .study-footer .background {
      background: url('/img/pages/beercamp/city-large.jpg') no-repeat;
      background-size: cover;
      background-position: center center; } }
